<!--<div class="top-bar homeheadertop">-->
<div class="homeheadertop">
    <div class="top-bar-left">
        <ul class="menu">
            <!--<img ui-sref="home" class="runIcon" src="https://d30y9cdsu7xlg0.cloudfront.net/png/22889-200.png" alt="">-->
            <!--<img ui-sref="home" class="runIcon" src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons-256/glossy-black-icons-sports-hobbies/044537-glossy-black-icon-sports-hobbies-people-man-runner.png" alt="">-->
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li class="join"><a ui-sref="login">Join/Login</a></li>
            <li class="help"><a ui-sref="login">Help</a></li>
            <li class="cart"><a ui-sref="customerorders"><i class="fa fa-shopping-cart"></i>&nbsp;</a></li>
        </ul>
    </div>
</div>


<!--<div class="top-bar navBar">-->
<!--<div class="flexContainer homeheadertop">-->
<!--<ul class=" top-bar-left "><img class="runIcon" src="https://d30y9cdsu7xlg0.cloudfront.net/png/22889-200.png" alt=""></ul>-->
<!--<div class="flexContainer homeNavBar">-->
<!--<div class="top-bar-right">-->
<!--<ul class="menu">-->
<!--&lt;!&ndash;<li><a ui-sref="learning">LEARNING</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;<li><a ui-sref="checkout">CHECKOUT</a></li>&ndash;&gt;-->
<!--<li><a ui-sref="selectProduct">SELECT PRODUCT</a></li>-->
<!--<li><a href="/auth/logout">LOGOUT</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--<div class="top-bar-right">-->
<!--<ul class="menu">-->
<!--&lt;!&ndash;<li><a ui-sref="product">Product Details</a></li>&ndash;&gt;-->
<!--<li><a ui-sref="home">HOME</a></li>-->
<!--<li><a ui-sref="admin">ADMIN</a></li>-->
<!--&lt;!&ndash;<li><a ui-sref="login">LOGIN</a></li>&ndash;&gt;-->
<!--</ul>-->
<!--</div>-->
<!--<div class="top-bar-right">-->
<!--<ul class="menu">-->
<!--&lt;!&ndash;<li><a ui-sref="learning">LEARNING</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;<li><a ui-sref="checkout">CHECKOUT</a></li>&ndash;&gt;-->
<!--<li><a ui-sref="selectProduct">MEN</a></li>-->
<!--<li><a href="/auth/logout">WOMEN</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--<li class="runIcon"><img class="runIcon" src="https://d30y9cdsu7xlg0.cloudfront.net/png/22889-200.png" alt=""></li>-->
<div class="flexContainer">
    <ul class="menu homeNavBar flexContainer">

        <img ui-sref="home" class="runIcon"
             src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons-256/glossy-black-icons-sports-hobbies/044537-glossy-black-icon-sports-hobbies-people-man-runner.png"
             alt="">
        <!--<li><img class="runIcon" ui-sref="home" src="https://d30y9cdsu7xlg0.cloudfront.net/png/22889-200.png" alt=""></li>-->
        <!--<li><a ui-sref="learning">LEARNING</a></li>-->
        <!--<li><a ui-sref="checkout">CHECKOUT</a></li>-->

        <div class=" flexRow">
            <li><a ui-sref="selectProduct">MEN</a></li> &nbsp;&nbsp;&nbsp;
            <li><a ui-sref="selectProduct">WOMEN</a></li>&nbsp;&nbsp;&nbsp;
            <li ng-show="adminPage"><a ui-sref="admin">ADMIN</a></li>
        </div>
        <!--<li><a href=""><input type="text" placeholder="search"></a></li>-->

        <ul class="menu homenavbar">
        <li class="searchfield"><a href=""><input type="text" placeholder="search"></a></li>
        </ul>
    </ul>
    <!--<ul class="flexRow navSearch">-->
        <!--<li class="navRight"><input type="search" placeholder="Search"></li>-->

        <!--<button type="button" class="button navRight">Search</button>-->

    <!--</ul>-->
</div>
<!--</div>-->

<!--</div>-->
<!--</div>-->






