<div class=" shoeContainer">

    <!--gender-->
    <div class="large-2 medium-4 columns">
        <label>GENDER</label>
        <input ng-model="newProduct.gender" type="text" placeholder=""/>
    </div>
    <!--model-->
    <div class="large-2 medium-4 columns">
        <label>BRAND</label>
        <input ng-model="newProduct.brand" type="text" placeholder=""/>
    </div>
    <!--model-->
    <div class="large-2 medium-4 columns">
        <label>MODEL NAME</label>
        <input ng-model="newProduct.model" type="text" placeholder=""/>
    </div>
    <!--category-->
    <div class="large-2 medium-4 columns">
        <label>CATEGORY</label>
        <input ng-model="newProduct.category" type="text" placeholder=""/>
    </div>
    <!--stability-->
    <div class="large-2 medium-4 columns">
        <label>STABILITY</label>
        <input ng-model="newProduct.stability" type="text" placeholder=""/>
    </div>
    <!--heel-Toe Offset-->
    <div class="large-2 medium-4 columns">
        <label>Heel-Toe Offset</label>
        <input ng-model="newProduct.offset" type="text" placeholder=""/>
    </div>
    <!--weight-->
    <div class="large-2 medium-4 columns">
        <label>WEIGHT</label>
        <input ng-model="newProduct.weight" type="text" placeholder=""/>
    </div>
    <!--styles-->
    <div class="large-2 medium-4 columns">
        <label>STYLES</label>
        <input ng-model="newProduct.styles" type="text" placeholder=""/>
    </div>
    <!--width-->
    <div class="large-2 medium-4 columns">
        <label>WIDTH</label>
        <input ng-model="newProduct.width" type="text" placeholder=""/>
    </div>
    <!--price-->
    <div class="large-2 medium-4 columns">
        <label>PRICE</label>
        <input ng-model="newProduct.price" type="text" placeholder=""/>
    </div>
    <!--image-->
    <div class="large-4 medium-4 columns">
        <label>IMAGE URL</label>
        <input ng-model="newProduct.image" type="text" placeholder="">
    </div>
    <!--description-->
    <div class="large-10 medium-4 columns">
        <label>DESCRIPTION</label>
        <input ng-model="newProduct.description" type="text" placeholder=""/>
    </div>

    <br>
    <div class="large-2 medium-4 columns">
        <label>Submit Product</label>
        <!--<div class="small-2 small-centered columns">-->
        <button ng-click="addProduct(newProduct)" class=" button split">Submit</button>
    </div>
</div>

