$facebook-color: #3b5998;
$twitter-color: #55acee;
$google-color: #d50f25;
$text-transform: uppercase;
$icon-size: 2rem;

/* Small only */
@media screen and (max-width: 39.9375em) {
  .divAdminMenu {
    visibility: hidden;
  }
  //.hideThisMenu {
  //  visibility: hidden;
  //}
  #content {
    padding-left: 250px;
  }

  .searchfield {
    position: absolute;
    padding-top: -50px;
    right: 0;
  }
}

/* Medium and up */
@media screen and (min-width: 40em) {
  .adminMainContainer {
    padding-left: 30vh;
    padding-right: 4vh;
  }
  #content {
    padding-left: 0vh;
    padding-right: 0vh;
  }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
}

/* Large and up */
@media screen and (min-width: 64em) {
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
}

@mixin flexContainer() {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  //width: 100vh;
  //flex-direction: row;
  //flex-wrap: wrap;
}

@mixin flexColumn() {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin flexRow() {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu {
  .join {
    border-left: 1px solid #E5E5E5;
  }
  .help {
    border-left: 1px solid #E5E5E5;
  }
  .cart {
    border-left: 1px solid #E5E5E5;
  }
}

.facebook {
  position: relative;
}

.fa {
  left: 0;
}
.fawhite {
  color: #444444;
}
.footerBotBorder {
  border-bottom: 1px solid #4D4D4D;
  width: 70%;
}
.oneThirdFoot {
  display: flex;

  width: 60%;
}
.twoThirdFoot {
  width: 66%;
  display: flex;
  justify-content: flex-end;
}
.thirdSocial {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
}

//.twoThird {
//  max-width:33.33%;
//}
.third {
  //border: 1px solid white;
  min-width: 33.33%;
  max-width: 33.33%;

}

.fixed {
  position: fixed;
  width: 100%;
}

/////////////////////// homepage
.hpMenu {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: white;
  margin: 35vh 0vh 0vh 4vh;
}


.searchfield {
  position: absolute;
  align-self: flex-end;
  right: 1em;
  top: 2.7em;

}

.navSearch {
  padding-top: 1em;
  padding-right: 1em;
}
.homeNavBar {
  height: 4.2em;
  border-bottom: 1px solid #E8E8E8;

  li {
    a {
      color: black !important;
      font-size: 1em;
      font-weight: 500;
      //font-;
      input {

        align-self: flex-end;
      }
    }
  }
}

.orbitPic {
  width: 100%;
  //height: 100vh;
  //height: 10em;
  //width: 100%;
  //height: 100%;
  //background-color: gray;
  //background-image: url("https://images.unsplash.com/photo-1428790067070-0ebf4418d9d8?crop=entropy&dpr=2&fit=crop&fm=jpg&h=850&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1450");
  //background-image: url("https://images.unsplash.com/photo-1428790067070-0ebf4418d9d8?crop=entropy&dpr=2&fit=crop&fm=jpg&h=850&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1450");
  //background-image: url("http://sneakerbardetroit.com/wp-content/uploads/2014/06/wish-x-adidas-originals-sl-loop-runner-independent-currency-1.jpg");
  //background-image: url(http://sneakerbardetroit.com/wp-content/uploads/2016/02/adidas-tubular-runner-wool-black-white.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}

.flexContainer {
  @include flexContainer
}

.fixedTitle {
  position: fixed;
  z-index: 100;
  width: 100%;
}

.split.button {
  width: 100%;

  &.facebook {
    background: $facebook-color;
    text-transform: $text-transform;
    //margin-top: 4em;
    span {
      //background: darken( $facebook-color, 10% );
      //&:after {
      //  border: none;
      //  font-family: "foundation-icons";
      //  content: "\f1c4";
      //  font-size: $icon-size;
      //  line-height: 0.25rem;
      //  margin-left: -0.7rem;
      //  margin: 0em 0em 0em 0em;
      //}
    }
  }

  &.twitter {
    background: $twitter-color;
    text-transform: $text-transform;

    span {
      //background: darken( $twitter-color, 10% );

      &:after {
        border: none;
        font-family: "foundation-icons";
        content: "\f1e4";
        font-size: $icon-size;
        line-height: 0.25rem;
        margin-left: -0.7rem;
      }
    }
  }

  &.google {
    background: $google-color;
    text-transform: $text-transform;

    span {
      //background: darken( $google-color, 10% );
      &:after {
        border: none;
        font-family: "foundation-icons";
        content: "\f1ca";
        font-size: $icon-size;
        line-height: 0.25rem;
        margin-left: -0.7rem;
      }
    }
  }

  &.left-icon {
    text-align: right;
    span {
      left: 0;
    }
  }
}

.has-form {
  position: absolute;
  top: 0;
  left: 6rem; // adjust distance from left here
  min-width: 14rem; // adjust width here

  @media only screen and (max-width: 40em) {
    min-width: 10rem;
    top: 0.5rem;

    .button {
      height: 1.85rem;
    }
  }
}

///////////////////////////////////////
//shoes.html
.shoeFilter {
  position: absolute;
  width: 12em;
  z-index: 10;
}

.item-box {
  border: .02em solid black;
}

.model {
  font-weight: bold;
}

.item-image {
  padding: 0% 0% 0% 18%;
  //width: 50%;
  //height:50%;
}

.item-image-modal {
  padding: 0% 0% 0% 18%;
  width: 50%;
  height: 50%;
}

.price {
  color: forestgreen;
  font-size: 1.25em;
  font-weight: bold;
  //font: bold;
}

.description {
  font-size: .85em;
}

.style {
}

///////////////////////////////////////////
//menu
#footMotion {
  padding: .5em;
  //background-color: $twitter-color;
  width: 9em;

}

.menuhead {
  display: flex;
  background-color: #FFFFFF;
  height: 2em;
  a {
    height: 2em;
    width: 4em;
    background-color: #FFFFFF;
  }
}

////////////////////////////////////////////home
.homeContainer {
  padding: 0% 0% 0% 0%;
}

.homeThumbContainer {
  @include flexContainer;
  justify-content: center;
  padding-left: 2em;
}

.footerHalfHalf {
  width: 50%;
}

.footerHalfRight {
  width: 50%;
  align-self: flex-end;
}

.footer {
  background-color: #191919;
  width: 100%;
  height: 19em;
  border-bottom: 1px solid grey;
  @include flexContainer;
  .fcont {
    width: 100%;
  }
  p {
    color: white;
    font-size: .75em;
    font-weight: 600;
  }
  .galaxy {
    p {
      color: #ADADAD;
    }
  }
}

//.menued {
//  width: 20%;
//  padding: 15% 0% 0% 0%;
//  //border: 1px solid black;
//  background: none;
//  background-color: white;
//}
.homeheadertop {
  height: 2.5em;
  border-bottom: 1px solid #E5E5E5;
}

.homenav {
  width: 100%;
  height: 5em;
}

.sticky {
  //position: relative;
  //left: -1.5em;
  //width:21vh;
  //padding-top: 10em;
  height: 100em;
  //position: relative;
  //left: 0%;
  //top: 20%;
}

.stickyMenuContainer {
  //padding-right: 50%;
  //left: 0;
  //right: 100vh;
}

.homemenuheader {
  padding-top: 3em;
  //padding-left: 1em;

}

.homemenuheaderSelectProduct {
  padding-top: 0em;
  //padding-left: 1em;

}

div {
  a {
    color: black;
  }
}

.ulbox {
  //border-bottom: 1px solid grey;
  label {
    //font-style: italic;
    //font-size: 1em;
    color: black !important;
  }
}

.mhead {
  border-top: 1px solid lightgray;
  //padding-left: 1em;
}

.menubox {
  border: 1px solid #E5E5E5;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}

.mbox {
  //padding-right: 2em;
}

.moveContainer {
  padding-left: 30%;
}

.adminmenu {
  padding-top: 5%;
}

//////////
.divAdminMenu {
  width: 30vh;
}

.runIcon {
  position: absolute;
  //width: 1em;
  //position: absolute;
  //padding-top: 2em;
  //padding-right: 10%;
  top: 2.7em;
  left: 1.5em;
  height: 4em;
  //padding-left: 1vh;
  //margin-left: auto;

  align-self: center !important;
}

.navBar {
  //height: 4em;
  background-color: #FFFFFF !important;
  align-self: flex-start;
}

///////////////////////////////
.menuContainer {
  height: 100% !important;
  background-color: #FFFFFF !important;
  //right: 10%;
  padding: 0% 0% 0% 0%;
  flex: auto;
  width: 20vh;
  height: 100%;
  z-index: 2;
  //border: 1px solid black;
}

.pmselectProduct {
  border: 1px solid black;
  background-color: white;
  height: 100vh;
}

/*.productContainer {
  display: flex;
  height: 100%;
  width: 100%;
  flex-wrap: nowrap;
  flex-direction: row;
  border: 1px solid black;

  .ps {
    height: 100%;
    width: 100%;
    //width: 70%;
    //padding-left: 20%;
  }
}*/
.selectMenu {
  padding: 0em 0em 0em 0em;
  //box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.76);
  margin: 0rem 0;
  //display: flex;
  width: 13em;
}

#addProducts {
  //visibility: hidden;
  //padding-left: 10%;
}

//////////////////////// admin shoes
.addProductContainer {
  //padding-left: 20vh;
}

.profile-card {
  padding: 1rem;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.76);
  margin: 0rem 0;
  background-color: #fff;
  //img {
  //  width: 8rem;
  //  display: block;
  //  margin: 2rem auto;
  //  text-align: center;
  //  border-radius: 50%;
  //  box-shadow: 2px 2px 5px #888888;
  //}
}

.shoeContainer {
  width: 100%;
  height: 70%;
  //padding-left: 5vh;
  //padding-right: 1vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  //padding: 20% 20% 20% 20%;
  //
  //max-height: 100%;
}

.centerContent {
  @include flexContainer
}

.flexColumn {
  @include flexColumn
}

.flexRowOne {
  @include flexRow;
}

.flexRow {
  @include flexRow;
}

////////////  selectProductPage
.shoeCont {
  height: 100%;
  //width: 100%;
  //padding-left: 5vh
}

.menuAndShoe {
  //@include flexContainer
  //display: flex;
  //flex-direction: row;
  //width: 100%;
  background-color: #3b5998;
  padding-right: 25vh;
}
.selectShoeMargin {
  margin: 0em 5em 0em 5em;
}
.cartTotalWrapper {
  display: flex;
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
  flex-direction: row;
  flex-wrap: wrap;
  //position: absolute;
  justify-content: center;
  //border: 1px solid deeppink;
div {

  .totalItems {

    border: 1px solid gray;
    width: 5em;
    padding-left: 2.2em;
    margin-left: .49em;
  }
}
  .totalPrice {
    border: 1px solid gray;
    width: 5em;
    padding-left: .52em;
    margin-left: .5em;
  }
  button {
    margin: .75em 0em 0em 2.2em;
    border: 1px solid black;
  }
}

.padCOrder {
  padding: 4em 10em 0em 10em;
}

//@media screen and (min-width: 40em) {
//  .adminMainContainer {
//    padding-left: 23vh;
//  }
//}
////@media screen and (35em) {
////  .adminMainContainer {
////    padding-left: 35vh;
////  }
////}
//@include breakpoint(medium only) {
//  padding-left: 50vh;
//}
//
//@media (max-width: 650px) {
//  //.sticky {
//  //  left: -1.5em;
//  //}
//  .shoesContainer{
//    //padding-left: 20vh;
//    //padding-right: 1vh;
//    //background-color: rebeccapurple;
//  }
//}
///////////////////////  modal ////////////////
.overlay {
  position: fixed;
  z-index: 9999;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.mod {
  position: absolute;
  display: flex;
  flex-direction: row;
  //top: 0%;
  //right: 1%;
  //padding-left: 10%;
  width: 100%;
  height: 100%;

  //justify-content: center;
  position: fixed;
  z-index: 9999;

  .modalbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative;
    //width: 75%;
    //height: 75%;
    background-color: white;
    border: 1px solid black;
  }
}

//////////////////  button

.checkBox {
  color: red !important;
  background-color: #d50f25 !important;
}




